<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background: rgb(58, 27, 58);
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(
          to right,
          rgb(58, 27, 58),
          rgb(69, 200, 233)
        );
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(
          to right,
          rgb(58, 27, 58),
          rgb(69, 200, 233)
        );

      }
      .tong{
                display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        margin: 0;
      }
      p {
        font-size: 44px;
        color: white;
      }
    </style>
  </head>
  <body >
    <%- include('../MainScreen.ejs') -%>
    <div class="tong">
      <p>updates sooning to!!</p>
    </div>
  </body>
</html>
